.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.sign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.sign input
 {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.sign input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.sign button{
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

}
.sign button :hover {
  background-color: #e0e0e0;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.login-form button{
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

}
.login-form button :hover {
  background-color: #e0e0e0;
}
.login-form input
 {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.login-form input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.container button {
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.container button:hover {
  background-color: #e0e0e0;
}
.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.prod  button {
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer}

.prod button:hover{
  background-color: #e0e0e0;

}
.prod img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.prod input
 {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.prod input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.prodAdmin  button {
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer}

.prodAdmin button:hover{
  background-color: #e0e0e0;

}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.sign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.sign input
 {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.sign input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.sign button{
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

}
.sign button :hover {
  background-color: #e0e0e0;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.login-form button{
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

}
.login-form button :hover {
  background-color: #e0e0e0;
}
.login-form input
 {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.login-form input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.container button {
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.container button:hover {
  background-color: #e0e0e0;
}
.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.prod  button {
  padding: 10px 20px;
  font-size: 18px; 
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer}

.prod button:hover{
  background-color:burlywood;

}
.prod img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.prod input
 {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.prod input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */